<div class="store flex justify-center gap-5 text-white">
    <ul class="rounded-md px-4 bg-red-700">
        <li  routerLink="./todo" class="li">My Todo App</li>
        <li class="li" routerLink="./mongo">Mongo </li>
        <li routerLink="./globalproduct" class="li">Global Product App</li>
        <li routerLink="./applist" class="li">App list request</li>
    </ul>
    <ul class="bg-neutral-600 rounded-md px-4">
        <li class="li">Electronics </li>
        <li class="li">Women </li>
        <li class="li">Shoes </li>
        <li class="li">children </li>
        <li class="li">men </li>
        <li class="li">House </li>
        <li class="li">Accessories </li>
        <li class="li">beauty </li>
        <li class="li">Electronics </li>
        <li class="li">Toys </li>
        <li class="li">Furniture </li>
        <li class="li">Products for adults </li>
        <li class="li">Products </li>
        <li class="li">Appliance </li>
        <li class="li">Pet supplies </li>
    </ul>
    
</div>