

@media only screen and (max-width: 1350px) {
    .prersonProduct {
      display: block;
    }

    .child{
        display: flex;
    }
  }


  @media only screen and (max-width: 900px) {
    .child{
        display: block;
    }
  }