.pro{
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}
.file{
  display: none;
}

.parent{
  position: relative;;
}
.child{
  top: 5px;
  right: 5px;
  position: absolute;;
}

@media only screen and (max-width: 1450px) {
  .pro {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1300px) {
  .pro {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 900px) {
  .pro {
    grid-template-columns: auto;
  }
}
